<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke tests" parallel="false">
    <listeners>
        <listener class-name="settings.TestNGListener"/>
    </listeners>
    <test name="Interface language">
        <classes>
            <class name="authorization.LoginTest"/>
        </classes>
    </test>
</suite>
